{% load static %}

<html>
    <body>
       
        <b> <a href="{% url 'lead:lead' %}">previous page</a> </b>
        <hr>
        <b>
            Create a lead
        </b>
        
        <form method="post" id="p-form">
            {% csrf_token %}
            {{form.as_p }}
            <button id='submit' type="submit">Submit</button>
        </form>
        <div id='resultBox'>
            
        </div>
        
    </body>

    <script src="{% static 'form.js' %}" type="text/javascript"></script>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>